body {
    background-color: #e6d8e7;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239800a1' fill-opacity='0.22'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #9800a1;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 2rem;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

  }
  button {
    background-color: #3E78B2;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 5px;
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  }

    button:hover {
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
    }
    
    button:active {
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    }

    input {
        border: none;
        border-bottom: 1px solid #9800a1;
        padding: 10px;
        font-size: 16px;
        margin: 10px 0;
        width: 100%;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    }

    input:active {
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    }

    input:focus {
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    }

    input:hover {
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    }

    //Style for the weather 
    .weather {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: #9800a1;
        color: #fff;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 0 2rem;
        box-sizing: border-box;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }

    

    .weather-icon{
        width: 100px;
        height: 100px;
        background-color: #D4B2D8;
        border-radius: 50%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }

    .weather-location{
        display: flex;
        flex
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: #fff;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 0 2rem;
        box-sizing: border-box;
    }

    .weather-temp{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: #fff;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 0 2rem;
        box-sizing: border-box;
    }

    .weather-desc{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: #fff;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 0 2rem;
        box-sizing: border-box;
    }

    .weather-info{
        background-color: #6DB1BF;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }